.main {
  display: flex;
  border: solid black 1px;
  height: 40vh;
  
}
.div1,
.div2,
.div3 {
  border: 1px solid black;
  margin: 2px;
}
.main2 {
  display: flex;
  border: 1px solid black;
  height: 40vh;
}
.div4,
.div5,
.div6 {
  border: 1px solid black;
  margin: 2px;
}
.main3 {
  display: flex;
  border: 1px solid black;
  height: 40vh;
}
.div7,
.div8,
.div9 {
  border: 1px solid black;
  margin: 2px;
}
