*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  table,thead{ 
     border:300vh;
      width:70%;
      height:30%;
      justify-content: center;
margin-left:15%;
font-size:x-large;
margin-top: 15%;
cursor: pointer;

  }

 thead table,tr,td,th{
      border:2px solid white;
      justify-content: center;
      padding: 6px;
 }
 
th:nth-child(odd){
  background-color: white;
}
th:nth-child(even){
background-color: white;  
}  

td:nth-child(even){
background-color:rgb(234,234,234);  
} 
.main:nth-child(odd){
background-color: rgb(181,195,198); 
} 
.main1:nth-child(even){
background-color:rgb(65,143,127); 
}
.main2:nth-child(odd){
background-color:rgb(146,206,194);
margin-right:auto;
}
.main3:nth-child(even){
background-color:rgb(16,74,96);
}
td:nth-child(even){
align-items: center;
}
.main,.main1,.main2,.main3{
  width:100px;
}
.first{
  width:30%;
text-align:left;
color:white;
}
.second{
  text-align: center;
}
.fourth{
  text-align: end;
}
.sixth{
  text-align: end;
}
.second,.fourth,.sixth{
  width:20%;
  
}
.fourth4,.sixth6{
  text-align:center;
}
