*{
    margin:0;
    padding:0;
    box-sizing:border;
}
.maindiv{
    display:flex;
    /* /* width:1000px; */
    /* height:100%;  */
}
.div1{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}

.div2{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}

.div3{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div4{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div5{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div6{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div7{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div8{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div9{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div10{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div11{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div12{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div13{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div14{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div15{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div16{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div17{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div18{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div19{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div20{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div21{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div22{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div23{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div24{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div25{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div26{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div27{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div28{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div29{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
.div30{
    height: 95px;
    width: 398px;
    border: 1px solid black;
}
